body {
    margin: 0px;
    background-image: url("../img/background-pattern.png");
    height: 1300px;
}
#header {
    width: 100%;
    height: 200px;
    background-color: #1a191a;
    box-shadow: 2px 2px 5px black;
    z-index: 2;
}
#header-line {
    width: 800px;
    height: 2px;
    background-color: #d6c427;
    margin-left: 160px;
    margin-top: 50px;
    position: absolute;
}
#header-content {
    width: 960px;
    height: 180px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: none;
}
#header #logo {
    width: 120px;
    height: 120px;
    position: absolute;
    margin-left: 10px;
    background-image: url("../img/logo.png");
}
#header #menu .text {
    width: 100px;
    height: 26px;
    color: #e2b100;
    font-size: 15px;
    text-align: center;
    padding-top: 4px;
    margin-left: 7px;
    float: lefT;
    cursor: pointer;
    font-family: menu;
    transition: all 0.2s ease-in-out;
}
#header #menu .text:hover{
    color: whitE;
    transition: all 0.2s ease-in-out;
}
#header #menu .text:hover .icon {
    display: block;
    transition: all 0.2s ease-in-out;
    opacity: 1;
}
#header #menu .text .icon {
    opacity: 0;
    display: none;
    width: 22px;
    height: 22px;
    position: absolute;
    margin-left: 40px;
    margin-top: 12px;
}
#header-content #menu #title {
    width: 150px;
    height: 50px;
    position: absolute;
    margin-left: 170px;
    margin-top: 23px;
    color: #e28700;
    font-size: 18px;
    font-family: menu;
    cursor: default;
}
#menu-placement {
    width: 480px;
    height: 40px;
    margin-left: 500px;
    margin-top: 20px;
    position: absolute;
}
@font-face {
    font-family: menu;
    src: url(../fonts/menu-font.ttf);
}
#welcome-box {
    width: 250px;
    height: 100px;
    position: absolute;
    margin-left: 120px;
    margin-top: 110px;
    text-align: center;
    font-family: menu;
    color: whitesmoke;
    font-size: 25px;
}
.dropdown {
    position: relative;
    display: inline-block;
    margin-top: 140px;
    margin-left: 760px;
}

.dropdown .dropdown-menu {
    position: absolute;
    margin-top: 150px;
    display: none;
    margin: 0;
    list-style: none; /** Remove list bullets */
    width: 100%; /** Set the width to 100% of it's parent */
    padding: 0;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

/** Button Styles **/
.dropdown button {
    background: #efe22f; /* Old browsers */
    background: -moz-linear-gradient(top,  #efe22f 0%, #db9d29 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efe22f), color-stop(100%,#db9d29)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #efe22f 0%,#db9d29 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #efe22f 0%,#db9d29 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #efe22f 0%,#db9d29 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #efe22f 0%,#db9d29 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efe22f', endColorstr='#db9d29',GradientType=0 ); /* IE6-9 */

    color: #FFFFFF;
    border: none;
    margin: 0;
    padding: 0.4em 0.8em;
    font-size: 1em;
    width: 200px;
    border-radius: 4px 4px 0px 0px;
}
.dropdown button:hover {
    background: #fff132; /* Old browsers */
    background: -moz-linear-gradient(top,  #fff132 0%, #f4bf2e 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff132), color-stop(100%,#f4bf2e)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #fff132 0%,#f4bf2e 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #fff132 0%,#f4bf2e 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #fff132 0%,#f4bf2e 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #fff132 0%,#f4bf2e 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff132', endColorstr='#f4bf2e',GradientType=0 ); /* IE6-9 */

}

/** List Item Styles **/
.dropdown a {
    display: block;
    padding: 0.2em 0.8em;
    text-decoration: none;
    background: #edd700;
    font-family: arial;
    color: #333333;
    transition: all 0.2s ease-in-out;

}

/** List Item Hover Styles **/
.dropdown a:hover {
    background: #edcf02;
    transition: all 0.2s ease-in-out;
    color: white;
}
.dropdown-2 {
    position: absolute;
    display: inline-block;
    margin-top: -30px;
    margin-left: 530px;
}

.dropdown-2 .dropdown-menu {
    position: absolute;
    margin-top: 150px;
    display: none;
    margin: 0;
    list-style: none; /** Remove list bullets */
    width: 100%; /** Set the width to 100% of it's parent */
    padding: 0;
}

.dropdown-2:hover .dropdown-menu {
    display: block;
}

/** Button Styles **/
.dropdown-2 button {
    background: #4049ef; /* Old browsers */
    background: -moz-linear-gradient(top, #4953db 0%, #4049ef 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,# #4953db), color-stop(100%,#4049ef)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #4953db 0%,#4049ef 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #4953db 0%, #4049ef 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #4953db 0%, #4049ef 100%); /* IE10+ */
    background: linear-gradient(to bottom, #4953db 0%, #4049ef 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=' 4953DB ', endColorstr=' #4049ef ',GradientType=0 ); /* IE6-9 */

    color: #FFFFFF;
    border: none;
    margin: 0;
    padding: 0.4em 0.8em;
    font-size: 1em;
    width: 200px;
    border-radius: 4px 4px 0px 0px;
}
.dropdown-2 button:hover {
    background: #4049ef; /* Old browsers */
    background: -moz-linear-gradient(top, #4953db 0%, #4049ef 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,# #4953db), color-stop(100%,#4049ef)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #4953db 0%,#4049ef 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #4953db 0%, #4049ef 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #4953db 0%, #4049ef 100%); /* IE10+ */
    background: linear-gradient(to bottom, #4953db 0%, #4049ef 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=' 4953DB ', endColorstr=' #4049ef ',GradientType=0 ); /* IE6-9 */
}

/** List Item Styles **/
.dropdown-2 a {
    display: block;
    padding: 0.2em 0.8em;
    text-decoration: none;
    background: #4953DB;
    font-family: arial;
    color: #333333;
    transition: all 0.2s ease-in-out;

}

/** List Item Hover Styles **/
.dropdown-2 a:hover {
    background: #4049EF;
    transition: all 0.2s ease-in-out;
    color: white;
}
#slide-1 {
    width: 1000px;
    height: 100%;
    background-color: red;
}
#slide-2 {
    width: 1000px;
    height: 100%;
    background-color: green;
}
#article-container {
    width: 960px;
    height: 800px;
    background-color: #e7e9e6;
    border-radius: 5px;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
#main-container{
    margin-left: auto;
    margin-right: auto;
    height: 2000px;
    width: 960px;
}
.article {
    width: 420px;
    background-color: #cbcdca;
    border-radius: 3px;
    border: 1px solid #7d7f7c;
    float: left;
    margin-left: 40px;
    margin-top: 30px;
}
.article #title {
    width: 200px;
    height: 40px;
    margin-top: 5px;
    margin-left: 10px;
    font-family: menu;
    font-size: 30px;
    color: #d7ba00;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.omoss-article #title {
    width: 600px;
    height: 40px;
    margin-top: 5px;
    margin-left: 10px;
    font-family: menu;
    font-size: 30px;
    color: #d7ba00;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.article #text {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    font-family: arial;
    font-size: 12px;
}
.omoss-article {
    width: 920px;
    height: 240px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: #cbcdca;
    border-radius: 3px;
    border: 1px solid #7d7f7c;
}
.omoss-article #text {
    width: 905px;
    height: 170px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    font-family: arial;
    font-size: 13px;
}
#programm-container{
    width: 960px;
    height: 500px;
    background-color: #e7e9e6;
    border-radius: 5px;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
.kit {
    width: 200px;
    height: 280px;
    display: inline-block;
    cursor:pointer;
    text-decoration: none;
    margin-left: 32px;
    margin-top: -20px;
    float: left;
}
#natur {
    background-image: url("../img/natur.png");
    background-position: 0px -280px;
}
#natur:hover {
    background-position: 0px 560px;
}
#teknik {
    background-image: url("../img/teknik.png");
    background-position: 0px -280px;
}
#teknik:hover {
    background-position: 0px 560px;
}
#sam {
    background-image: url("../img/sam.png");
    background-position: 0px -280px;
}
#sam:hover {
    background-position: 0px 560px;
}
#kultur {
    background-image: url("../img/kultur.png");
    background-position: 0px -280px;
}
#kultur:hover {
    background-position: 0px 560px;
}
#kit-popup {
    background-color: #ebe8e8;
    width: 700px;
    height: 600px;
    z-index: 1;
    margin-right: auto;
    border-radius: 5px;
    margin-left: 140px;
    margin-top: -260px;
    box-shadow: 1px 1px 10px 1px dimgray;
    border: 1px solid gray;
    position: absolute;
}
.pay {
    -webkit-animation-name: abort;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: forwards;
}
@-webkit-keyframes abort {
    0% {width: 0px; height: 0px; margin-top: -10000px}
    100% {width: 0px; height: 0px; margin-top: -10000px}
}
#cancel-button {
    width: 150px;
    height: 50px;
    background: #ffee00; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffee00 0%, #ffc700 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffee00), color-stop(100%,#ffc700)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffee00 0%,#ffc700 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffee00 0%,#ffc700 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffee00 0%,#ffc700 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffee00 0%,#ffc700 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffee00', endColorstr='#ffc700',GradientType=0 ); /* IE6-9 */
    font-family: arial;
    margin-left: 275px;
    margin-top: 515px;
    border-radius: 5px;
    position: absolute;
    font-size: 20px;
    color: #fbfffc;
    border: 1px solid black;
}
#cancel-button:hover {
    background: #ccbe00; /* Old browsers */
    background: -moz-linear-gradient(top,  #ccbe00 0%, #cca328 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ccbe00), color-stop(100%,#cca328)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ccbe00 0%,#cca328 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ccbe00 0%,#cca328 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ccbe00 0%,#cca328 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ccbe00 0%,#cca328 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccbe00', endColorstr='#cca328',GradientType=0 ); /* IE6-9 */
    cursor: pointer;
}
.programm-title {
    color: #ffc30e;
    font-size: 60px;
    font-family: arial;
    font-weight: bold;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    position: absolute;
    width: 100%;
    height: 200px
    text-align: center;
    margin-top: 15px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
#programm-container #title {
    margin-top: 20px;
    width: 900px;
    height: 200px;
    color: #ffc30e;
    margin-left: auto;
    margin-right: auto;
    font-family: menu;
    font-size: 40px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-align: center;
}